@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
   --green-color: #3a7a4d;
   --brown-color: #805633;
   --darker-blue-color: #335f70;

   --body-font: Arial, Helvetica,sans-serif;
   --headline-font: "Poetsen One", serif
}

header {
   text-align: center;
}

h1 {
   color: var(--darker-blue-color);
   font-size: 50px;
   font-family: var(--headline-font);
}

nav ul{
   display: grid;
   grid-template-columns: 100px 130px 100px;
   list-style-type: none;
   justify-content: end;
   justify-items: end;
   font-size: 25px;
   border-top: var(--brown-color) solid 2px;
   border-bottom: var(--brown-color) solid 2px;
   padding: 20px 0px 20px 0px;
   padding-right: 7rem;
}

a:link, a:visited {
   text-decoration: none;
   color: var(--green-color);
}

h2 {
   color: var(--green-color);
   font-size: xx-large;
   font-family: var(--headline-font);
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   /* margin: 0px 100px 0px 100px; */
   --body-font: Arial, Helvetica,sans-serif;
   /* Add some space in between the two articles- Since we restricted the width on the navbar
      last week (review that CSS rule if you need to) we should do the same to the main element 
      as well so that it matches and we end up with nice alignment. */
}

.skiptocontent {
   position: absolute;
   top: -40px;
   background-color: violet;
}

.skiptocontent a:focus {
   top: 0px;
}

.info {
   display: grid;
   grid-column: 1/2;
   text-align: right;
   margin-right: 2rem;
   line-height: .1rem;
   background-color: aquamarine;
}
.date {
   font-size: large;
}

.book {
   grid-column: 2/3;
   border-left: solid 2px var(--brown-color);
   padding-left: 1rem;
   /* Adjust the top margin of the title of the post so that it lines up vertically 
      with the date on the left. */
}
.book img {
   text-align: center;
   align-items: center;
   justify-content: center;
}

.filters {
   grid-column: 3/3;
   /* border: var(--brown-color) solid 2px; */
   padding-top: 10px;
}


