@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
   --green-color: #3a7a4d;
   --brown-color: #805633;
   --darker-blue-color: #335f70;

   --body-font: Arial, Helvetica,sans-serif;
   --headline-font: "Poetsen One", serif
}

header {
   text-align: center;
}

h1 {
   color: var(--darker-blue-color);
   font-size: 50px;
   font-family: var(--headline-font);
}

nav ul{
   display: grid;
   grid-template-columns: 100px 130px 100px;
   list-style-type: none;
   justify-content: end;
   justify-items: end;
   font-size: 25px;
   border-top: var(--brown-color) solid 2px;
   border-bottom: var(--brown-color) solid 2px;
   padding: 20px 0px 20px 0px;
   padding-right: 7rem;
}

a:link, a:visited {
   text-decoration: none;
   color: var(--green-color);
}

h2 {
   color: var(--green-color);
   font-size: xx-large;
   font-family: var(--headline-font);
   margin-top: 0rem;
}

#mainContent {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   --body-font: Arial, Helvetica,sans-serif;
}

.skiptocontent {
   position: absolute;
   top: -40px;
   background-color: violet;
}

.skiptocontent a:focus {
   top: 0px;
}

.book {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-bottom: 25px;
   justify-content: center;
   grid-column: 1/3;
}

.info {
   text-align: right;
   margin-right: 2rem;
   line-height: .5rem;
   grid-column: 1/2;
}
#date {
   font-size: large;
}

.content {
   display: grid;
   grid-column: 2/3;
   border-left: solid 2px var(--brown-color);
   padding-left: 1rem;
}
.content img {
   text-align: center;
   height: auto;
   max-width: 250px;
}

.filters {
   display: grid;
   grid-column: 3/4;
   border: var(--brown-color) solid 2px;
   padding-top: 10px;
   margin-left: 1rem;
}

